body{
    background-color: var(--bgDark);
}
section#about{
    background-color: var(--white);
    width: 108%;
}
header nav{
flex-direction: column;
    margin-left: 2rem;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
header .container{
    background-color: var(--bgDark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
    }

.hero{
    height: 730px;
    padding-top: 2rem;
    padding-bottom: 9rem;
}
.hero .right{
    margin: 10%;
}
.hero::before{
    height: 300px;
}
header nav .left a{
    font-size: 10px;
    padding: 0px 7px;
    padding-bottom: 8px;
}
header nav .logo{
    flex-direction: column;
    }
    div{
        flex-direction: column;
    }
.logo img{
    width: 50px;
    margin-left: 138px;
}

.btn-primary{
    margin-top: 1rem;
    margin-left: -1rem;
    padding: 4px;
}

.hero .left img{
    /* width: 140px;
    margin: 15px; */
    width: 166px;
    margin: -33px;
    }

    .hero .right h6{
        font-size: 1rem;
    }
    .hero .right h1{
        font-size: 2rem;
    }
    .hero .right p{
        font-size: 1rem;
    }

    .btn-secondary{
        font-size: 13px;
        padding: 4px;

    }

    section#about .socials {
        display: flex;
        flex-direction: initial;

    }
    section{
    padding-top: 2rem;
    padding-bottom: 6rem;
    }
    section#about .socials img{
        height: 33px;
    }

    #about img {
        height: 150px;
    }


.flex-1 {
    flex: 1;
    padding-top: 25px;
}

.container{
    flex-direction: column;
}
#services{
    flex-direction: column;
}
.services-head{
    margin: 19px 116px;S
}

section#services{
    margin: -9%;
    padding: 3%;
    height: 56vh;
}
section#services .card-grid .card{
    /* padding: 14px;
    margin: 2px 0px;
    margin-bottom: 20px; */
    padding: 20px 1px;
    margin: 5px 7px;
    margin-bottom: 20px;
    display: flex;
}
section#services .card-grid{
    display: flex;
    grid-template-columns: repeat(3,1fr);
    column-gap: 7rem;
    margin-left: 30px;
}
.services-head + p{
margin: 37px 70px;
padding: 20px 11px;
justify-content: center;
text-align: center;
}